*{ 
    margin: 0;
    padding: 0;
}
html,body{ 
    height: 100%;
    width: 100%;
    background-color:rgb(57, 52, 52);
     display: flex;
    align-items: center;
}
.main{ 
    height:99%;
    width: 35%;
    background-color:aquamarine;
    margin-left: 80px;
    border-radius: 15px;
}
#main1{ 
    height:20%;
    width:100%;
}
#main2{ 
    margin-top: 40px;
    height:76%;
    width:100%;
}
.list{ 
    height: 80%;
    width: 80%;
    background-color: rgb(50, 49, 49);
    border: none;
    border-radius: 35px;
    color: aquamarine;
   
}
.list1{ 
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  gap: 2px;
   
}
#input{
    height: 100%;
    width: 100%;
    background-color: rgb(50, 49, 49);
    border-radius: 35px;
    display: flex;
    align-items: center;
    color: aquamarine;
     font-size: 26px;
}
#text{ 
    height: 60%;
    width: 90%;
    margin: 20px 0px 0px 20px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    color: aquamarine;
     background-color: rgb(50, 49, 49);
     font-size: 26px;
     border: none;
}
::placeholder{ 
       color: aquamarine;
       font-size: 26px;
    
}
h2{ 
    display: flex;
    justify-content: center;
}

.circle{ 
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:rgb(50, 49, 51);
    color:aquamarine;
     display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#block2{ 
    background-color:rgb(57, 52, 52);
    color:aquamarine;
}
